@import '@/app/mixins.scss';

.nav {
    align-items: center;
    background: var(--colour--accent);
    display: flex;
    gap: rem(50);
    flex-direction: column;
    justify-content: center;
    text-align: center;
    left: 100%;
    position: fixed;
    transition: all .3s ease-in-out;
    top: 0;
    bottom: 0;
    width: 100%;

    &.open {
        left: 0;
    }

    ul {
        @include basicList;
        display: grid;
        gap: rem(50);

        a {
            // color: var(--colour--accent);
            color: var(--colour--secondary);
            font-family: var(--font--secondary);
            // font-size: rem(18);
            font-size: rem(24);
            text-transform: uppercase;
            transition: var(--hover-transition);

            &:hover {
                color: var(--off-white);
            }

        }

    }

}

.logo {
    display: none;
}


@media (max-width: rem(699.98)) {

    .nav {
        // display: none;
    }

}


@media (min-width: rem(700)) {

    .nav {
        display: grid;
        gap: rem(30);
        grid-auto-flow: column;
        grid-auto-columns: max-content;

        ul {
            gap: rem(30);
            grid-auto-flow: column;
            grid-auto-columns: max-content;
        }

    }

    .logo {

        transition: width .2s ease-in-out;
        height: auto;
        width: rem(150);

        &.scrolled {
            width: rem(80);
        }

    }

}

@include breakpoint(md) {

    .nav {

        ul {
            gap: rem(50);
        }

        ul {

            a {
                font-size: rem(22);
            }

        }

    }

    .logo {
        width: rem(200);

        &.scrolled {
            width: rem(100);
        }

    }

}
