@import '@/app/mixins.scss';

.nav {
    align-items: center;
    justify-content: center;

    ul {
        @include basicList;
        display: grid;
        gap: rem(50);

        a {
            font-family: var(--font--secondary);
            text-transform: uppercase;
            transition: var(--hover-transition);
        }

    }

}

.logo {
    display: none;
}


@include breakpoint(sm, max) {

    .nav {
        background: var(--colour--accent);
        bottom: 0;
        display: flex;
        flex-direction: column;
        gap: rem(50);
        left: 100%;
        position: fixed;
        text-align: center;
        top: 0;
        transition: all .3s ease-in-out;
        width: 100%;

        &.open {
            left: 0;
        }

        ul {

            a {
                color: var(--colour--secondary);
                font-size: rem(24);
            }

        }

    }

}


@include breakpoint(sm) {

    .nav {
        display: grid;
        gap: rem(10);
        grid-auto-flow: column;
        grid-auto-columns: max-content;

        ul {
            gap: rem(25);
            grid-auto-flow: column;
            grid-auto-columns: max-content;

            a {
                color: var(--off-white);
                font-size: rem(18);

                &.active,
                &:hover {
                    color: var(--colour--accent);
                }

            }

        }

    }

    .logo {
        display: block;
        transition: width .2s ease-in-out;
        height: auto;
        width: rem(150);

        &.scrolled {
            width: rem(80);
        }

    }

}

@include breakpoint(md) {

    .nav {
        gap: rem(30);

        ul {
            gap: rem(50);
        }

        ul {

            a {
                font-size: rem(22);
            }

        }

    }

    .logo {
        width: rem(200);

        &.scrolled {
            width: rem(100);
        }

    }

}
